@import "../../assets/styles/mixins.scss";

.header {
    background: $color-light-xl;
    position: sticky;
    top: 0;

    // .header__container

    &__container {
        padding: 30px 40px;

        @media screen and (max-width: 1279px) {
            padding: 30px;
        }

        @media screen and (max-width: 767px) {
            padding: 30px 10px;
        }
    }
}

.logo {
    // .logo__title

    &__title {
        color: $color-dark-l;
    }

    // .logo__text

    &__text {
        color: $color-dark-3xl;
    }
}

.menu {
    // .menu__item

    &__item {
        // .menu__item--active

        &--active {
            // .menu__item--active .menu__link

            & .menu__link {
                color: $color-dark-3xl;
            }
        }

        // .menu__item:hover

        &:hover {
            // .menu__item:hover .menu__link

            & .menu__link {
                color: $color-dark-3xl;
            }
        }
    }

    // .menu__link

    &__link {
        color: $color-dark-l;
    }
}

.burger-menu__item {
    border: 1px solid #000000;
}

.pets__container {
    padding: 80px 40px 40px;

    @media screen and (max-width: 1279px) {
        padding: 80px 30px 46px;
    }

    @media screen and (max-width: 767px) {
        padding: 42px 10px;
    }
}

.pets-slider {
    @media screen and (max-width: 1279px) {
        margin: 30px 0;
    }

    @media screen and (max-width: 767px) {
        margin: 41px 0;
    }

    // .pets-slider__inner

    &__inner {
        gap: 30px 40px;

        @media screen and (max-width: 1279px) {
            justify-content: center;
        }
    }

    // .pets-slider__pagination-btns

    &__pagination-btns {
        margin-top: 59px;
        @include flex(center);
        gap: 20px;

        @media screen and (max-width: 1279px) {
            margin-top: 39px;
        }
    }

    // .pets-slider__pagination

    &__pagination {
        @include btn(52px);
        @include btn-add();

        // pets-slider__pagination--page

        &--page {
            background-color: $color-primary-light;
            border: none;
            cursor: auto;
        }

        // .pets-slider__pagination:disabled
        &:disabled {
            border: 2px solid $color-dark-s;
            pointer-events: none;
        }
    }
}

.pets-item--7,
.pets-item--8 {
    @media screen and (max-width: 1279px) {
        display: none;
    }
}
