@mixin container() {
    width: 100%;
    max-width: 1280px;
    padding: 80px 40px 100px;
    margin: 0 auto;
}

@mixin flex($align: space-between) {
    display: flex;
    justify-content: $align;
    align-items: center;
    flex-wrap: wrap;
}

@mixin btn() {
    width: 207px;
    height: 52px;
    background-color: $color-primary;
    color: $color-dark-3xl;
    font-family: $font-add;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    border: none;
    outline: none;
    border-radius: 100px;
    @include flex(center);
}

$font-main: "Arial", sans-serif;
$font-add: "Georgia", serif;

$color-primary: #f1cdb3;
$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-3xl: #292929;

$bg-color: #211f20;
$background-dark: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), $bg-color;

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 100%;
    margin: 0;
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-s;
}

.header {
    width: 100%;
    background: $background-dark;

    // .header__container

    &__container {
        @include container();
        @include flex();
        padding: 60px 40px 0;
    }
}

.logo {
    // .logo__title

    &__title {
        color: $color-primary;
        font-family: $font-add;
        margin: 0 0 10px;
        padding: 0;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
    }

    // .logo__text

    &__text {
        color: $color-light-xl;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
    }
}

.menu {
    margin: 0;
    padding: 0;
    @include flex();

    // .menu__item

    &__item {
        list-style: none;
        margin-left: 35px;

        // .menu__item--active

        &--active {
            border-bottom: 2px solid $color-primary;

            // .menu__item--active .menu__link

            & .menu__link {
                color: $color-light-s;
            }
        }

        // .menu__item:hover

        &:hover {
            // .menu__item:hover .menu__link

            & .menu__link {
                color: $color-light-s;
            }
        }
    }

    // .menu__link

    &__link {
        text-decoration: none;
        color: $color-dark-s;
    }
}

.start-screen {
    width: 100%;
    background: $background-dark;
    margin-top: -120px;
    padding-top: 120px;
    // .start-screen__container

    &__container {
        @include container();
        @include flex();
        padding: 60px 40px 0;
    }

    // .start-screen__content

    &__content {
        max-width: 460px;
    }

    // .start-screen__title

    &__title {
        font-family: $font-add;
        font-size: 44px;
        line-height: 130%;
        color: $color-light-xl;
        margin: 0 0 42px;
    }

    // .start-screen__text

    &__text {
        margin: 0 0 42px;
    }

    // .start-screen__button

    &__button {
        @include btn();
    }

    // .start-screen__img

    &__img {
       
    }
}
