@import "../../assets/styles/mixins.scss";

.start-screen {
    width: 100%;
    background: $bg-color-dark;
    margin-top: -120px;
    padding-top: 120px;

    // .start-screen__container

    &__container {
        @include container();
        @include flex();
        padding: 60px 40px 0;
        @media screen and (max-width: 1279px) {
            padding: 60px 30px 0;
        }
        @media screen and (max-width: 767px) {
            padding: 60px 10px 1px;
        }
    }

    // .start-screen__content

    &__content {
        max-width: 460px;
        margin-bottom: 80px;

        @media screen and (max-width: 1279px) {
            margin: 0 auto 100px;
        }
        @media screen and (max-width: 767px) {
            margin: 0 auto 105px;
            text-align: center;
        }
    }

    // .start-screen__title

    &__title {
        font-family: $font-add;
        font-size: 44px;
        line-height: 130%;
        font-weight: normal;
        color: $color-light-xl;
        margin: 0 0 42px;

        @media screen and (max-width: 767px) {
            font-size: 25px;
            letter-spacing: 0.06em;
        }
    }

    // .start-screen__text

    &__text {
        margin: 0 0 41px;
    }

    // .start-screen__button

    &__button {
        @include btn();
        @media screen and (max-width: 1279px) {
            margin: 0 auto;
        }
    }

    // .start-screen__img
    &__img {
        @media screen and (max-width: 1279px) {
            margin-left: auto;
            width: 569px;
        }
        @media screen and (max-width: 767px) {
            margin-left: auto;
            width: 260px;
        }
    }
}

.about {
    width: 100%;
    background-color: $color-light-xl;

    // .about__container

    &__container {
        @include container();
        @include flex(center);
        gap: 79px 120px;

        @media screen and (max-width: 1279px) {
            flex-wrap: wrap-reverse;
        }
        @media screen and (max-width: 767px) {
            gap: 18px;
        }
    }

    // .about__img

    &__img {
        @media screen and (max-width: 767px) {
            width: 260px;
        }
    }

    // .about__content

    &__content {
        max-width: 430px;
    }

    // .about__title

    &__title {
        @include section-title();

        @media screen and (max-width: 767px) {
            margin-bottom: 25px;
        }
    }

    // .about__text

    &__text {
        margin: 25px 0 0;
        color: $color-dark-xl;

        @media screen and (max-width: 767px) {
            text-align: justify;
            max-width: 270px;
            margin: 22px auto;
        }
    }
}

.pets {
    // .pets__btn

    &__btn {
        @include btn(261px);
        margin: 0 auto;
    }
}

.pets-slider {
    @include flex();
    flex-wrap: nowrap;

    @media screen and (max-width: 1279px) {
        gap: 12px;
        justify-content: center;
    }
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        margin: 41px 0;
        gap: 20px 80px;
    }

    // .pets-slider__btn

    &__btn {
        @include btn(52px);
        @include btn-add();
        order: 10;
    }

    // .pets-slider__inner

    &__inner {
        gap: 90px;

        @media screen and (max-width: 1279px) {
            gap: 40px;
        }
    }
}

.pets-item--3 {
    @media screen and (max-width: 1279px) {
        display: none;
    }
}

.pets-item--2 {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.help {
    width: 100%;
    background-color: $color-light-xl;

    // .help__container

    &__container {
        @include container();
    }

    // .help__title

    &__title {
        @include section-title(center);
    }

    // .help__list

    &__list {
        margin: 60px 0 0;
        @include flex(center);
        gap: 55px 120px;

        @media screen and (max-width: 1279px) {
            width: 630px;
            margin: 60px auto 0;
            column-gap: 60px;
        }

        @media screen and (max-width: 767px) {
            width: 290px;
            margin: 42px auto 0;
            gap: 30px;
            justify-content: start;
        }
    }
}

.help-item {
    text-align: center;

    @media screen and (max-width: 1279px) {
        width: 170px;
    }
    @media screen and (max-width: 767px) {
        width: 130px;
    }

    // .help-item__icon

    &__icon {
        @media screen and (max-width: 767px) {
            width: 50px;
        }
    }

    // .help-item__title

    &__title {
        @include item-title(0);
        margin-top: 22px;

        @media screen and (max-width: 767px) {
            margin-top: 14px;
        }
    }
}

.donation {
    width: 100%;
    background-color: $color-light-l;

    // .donation__container

    &__container {
        @include container();
        @include flex(center);

        @media screen and (max-width: 1279px) {
            flex-wrap: wrap-reverse;
            max-width: 800px;
        }

        @media screen and (max-width: 767px) {
            padding: 40px 10px 42px;
        }
    }

    // .donation__img

    &__img {
        margin-top: 1px;

        @media screen and (max-width: 767px) {
            width: 260px;
        }
    }

    // .donation__content

    &__content {
        margin-left: 30px;
        max-width: 380px;

        @media screen and (max-width: 1279px) {
            margin: 1px 0 59px;
        }

        @media screen and (max-width: 767px) {
            margin: 0 0 43px;
            text-align: center;
        }
    }

    // .donation__title

    &__title {
        @include section-title();
    }

    // .donation__subtitle

    &__subtitle {
        font-family: $font-add;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        font-weight: normal;
        color: $color-dark-l;
        margin: 20px 0 29px;

        @media screen and (max-width: 767px) {
            letter-spacing: 0;
            text-align: center;
            margin: 23px 0 33px;
        }
    }

    // .donation__credit-card

    &__credit-card {
        background-image: url("../../assets/icons/icon-credit-card.svg");
        background-repeat: no-repeat;
        background-position: 15px 10px;
        padding: 10px 15px 10px 60px;
        background-color: $color-primary;
        border-radius: 9px;
        @include item-title();
        text-decoration: none;
        transition: background-color 0.3s;

        // .donation__credit-card:hover

        &:hover {
            background-color: $color-primary-light;
        }

        @media screen and (max-width: 767px) {
            padding: 13px 15px 13px 60px;
        }
    }

    // .donation__text

    &__text {
        font-style: italic;
        font-size: 12px;
        line-height: 150%;
        color: $color-dark-m;
        margin: 28px 0 0;

        @media screen and (max-width: 767px) {
            text-align: justify;
            padding: 0 10px;
        }
    }
}
