@font-face {
  font-family  : 'Arial';
  src          : url('../fonts/arial/Arial-Black.woff2') format('woff2');
  font-weight  : 900;
  font-style   : normal;
  font-display : swap;
}

@font-face {
  font-family  : 'Arial';
  src          : url('../fonts/arial/Arial-BoldItalicMT.woff2') format('woff2');
  font-weight  : bold;
  font-style   : italic;
  font-display : swap;
}

@font-face {
  font-family  : 'Arial Narrow';
  src          : url('../fonts/arial/ArialNarrow.woff2') format('woff2');
  font-weight  : normal;
  font-style   : normal;
  font-display : swap;
}

@font-face {
  font-family  : 'Arial Narrow';
  src          : url('../fonts/arial/ArialNarrow-BoldItalic.woff2') format('woff2');
  font-weight  : bold;
  font-style   : italic;
  font-display : swap;
}

@font-face {
  font-family  : 'Arial';
  src          : url('../fonts/arial/Arial-ItalicMT.woff2') format('woff2');
  font-weight  : normal;
  font-style   : italic;
  font-display : swap;
}

@font-face {
  font-family  : 'Arial Narrow';
  src          : url('../fonts/arial/ArialNarrow-Bold.woff2') format('woff2');
  font-weight  : bold;
  font-style   : normal;
  font-display : swap;
}

@font-face {
  font-family  : 'Arial';
  src          : url('../fonts/arial/Arial-BoldMT.woff2') format('woff2');
  font-weight  : bold;
  font-style   : normal;
  font-display : swap;
}

@font-face {
  font-family  : 'Arial Narrow';
  src          : url('../fonts/arial/ArialNarrow-Italic.woff2') format('woff2');
  font-weight  : normal;
  font-style   : italic;
  font-display : swap;
}

@font-face {
  font-family  : 'Arial';
  src          : url('../fonts/arial/ArialMT.woff2') format('woff2');
  font-weight  : normal;
  font-style   : normal;
  font-display : swap;
}

@font-face {
  font-family  : 'Georgia';
  src          : url('../fonts/georgia/Georgia.woff2') format('woff2');
  font-weight  : normal;
  font-style   : normal;
  font-display : swap;
}

@font-face {
  font-family  : 'Georgia';
  src          : url('../fonts/georgia/Georgia-Italic.woff2') format('woff2');

  font-weight  : normal;
  font-style   : italic;
  font-display : swap;
}

@font-face {
  font-family  : 'Georgia';
  src          : url('../fonts/georgia/Georgia-Bold.woff2') format('woff2');
  font-weight  : bold;
  font-style   : normal;
  font-display : swap;
}

@font-face {
  font-family  : 'Georgia';
  src          : url('../fonts/georgia/Georgia-BoldItalic.woff2') format('woff2');
  font-weight  : bold;
  font-style   : italic;
  font-display : swap;
}



