@mixin container() {
    width: 100%;
    max-width: 1280px;
    padding: 80px 40px 100px;
    margin: 0 auto;
    @media screen and (max-width: 1279px) {
        max-width: 768px;
        padding: 80px 30px 100px;    
    }
    @media screen and (max-width: 767px) {
        max-width: 320px;
        padding: 42px 10px;    
    }
}

@mixin flex($align: space-between) {
    display: flex;
    justify-content: $align;
    align-items: center;
    flex-wrap: wrap;
}

@mixin btn($size: 207px) {
    width: $size;
    height: 52px;
    background-color: $color-primary;
    color: $color-dark-3xl;
    font-family: $font-add;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 100px;
    cursor: pointer;
    @include flex(center);
    transition: background-color 0.3s;

    &:hover {
        background-color: $color-primary-light;
    }
}

@mixin btn-add() {
    border: 2px solid $color-primary;
    background-color: transparent;

    &:hover {
        border: none;
    }
}

@mixin section-title($align: left) {
    font-family: $font-add;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin: 0;
    text-align: $align;

    @media screen and (max-width: 767px) {
        font-size: 25px;
        text-align: center;
    }
}

@mixin item-title($margin-bottom: 30px) {
    font-family: $font-add;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin: 30px 0 $margin-bottom;
    text-align: center;

    @media screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 110%;
    }
}

@mixin footer-content($image, $padding-left: 60px) {
    background-image: $image;
    background-repeat: no-repeat;
    text-decoration: none;
    font-family: $font-add;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    display: flex;
    align-items: center;
    padding-left: $padding-left;
    min-height: 40px;
}

$font-main: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$font-add: "Georgia", "Century Schoolbook L", serif;

$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-3xl: #292929;

$bg-color-dark: url("../../assets/images/bg-noise-transparent.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;